@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}

html {
  position: relative;
}

a {
  color: #2196F3;
}

.header {
  width: 100%;
  height: 75px;
  background-color: #03A9F4;
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
}

.headerIcon {
  width: 40px;
  position: relative;
  top: 20px;
  left: 15px;
}

.navigation {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  position: relative;
  bottom: 15px;
}

.navigation li {
  display: inline-block;
  width: 130px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  color: white;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.navigation li:hover {
  background-color: #f44336;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.body {
  margin-top: 120px;
  margin-bottom: 400px;
}

.title {
  width: 500px;
}

.bannerImage {
  width: 80%;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
}

.card {
  background-color: white;
  width: 90%;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 15px;
}

.textBlurb {
  font-size: 20px;
}

.features {
  margin: 0 auto;
  width: 70%;
}

.feature {
  width: 250px;
  height: 250px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.feature i {
  font-size: 100px;
}

.feature h3 {
  margin-bottom: -10px;
}

.smallButton {
  display: inline-block;
  width: 100px;
  height: 40px;
  color: white;
  line-height: 40px;
  background-color: #03A9F4;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.largeButton {
  display: inline-block;
  width: 205px;
  height: 40px;
  color: white;
  line-height: 40px;
  background-color: #03A9F4;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #03A9F4;
  color: white;
  margin-top: 200px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.footer a {
  color: white;
  text-decoration-line: underline;
}

#footerSource {
  margin-top: 100px;
}

#footerNav {
  margin: 0 auto;
  width: 475px;
}

#footerNav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  .navigation li {
    width: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    width: 90%;
  }

  .navigation li {
    width: 40px;
  }

  .navigationText {
    display: none;
  }

  .bannerImage {
    width: 95%;
  }

  #footerNav {
    width: 100%;
  }
}
